<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
   	
<listeners>
		
<listener class-name="com.amazon.TestCasesResult.ExtendReporter" />
	
</listeners>
 
  
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.amazon.Test.AmazonDashboardTest"/>
      <class name="com.amazon.Test.AmazonProductListTest"/>
      <class name="com.amazon.Test.AmazonProductDetailTest"/>
      <class name="com.amazon.Test.AmazonAddToCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
